<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuccessEnSwift.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
				<key>dateExpires</key>
				<string>29/09/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire_SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAPIClientForREST.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LUExpandableTableView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Parchment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMultiSelect.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D988461EFD7750A25ACFE20C20657E610AAF9B4E</string>
						<key>dateExpires</key>
						<string>29/09/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DQNFZKB5Y2</string>
						<key>name</key>
						<string>Vandana Agrawal</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DQNFZKB5Y2.com.bringmax.BringMaxDemo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DQNFZKB5Y2</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>DQNFZKB5Y2.com.bringmax.BringMaxDemo</string>
				</array>
			</dict>
			<key>name</key>
			<string>SuccessEnSwift.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5a24cb34-47e1-4f47-be89-3e314a311c0e</string>
				<key>name</key>
				<string>BringMax Demo Dev Prof</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DQNFZKB5Y2</string>
				<key>name</key>
				<string>Vandana Agrawal</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
